/* Estilo geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cdd7d8;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Layout da tela de login */
#nickname-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cdd7d8;
    flex-direction: column;
    text-align: center;
}

#nickname-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#nickname-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#nickname-input:focus {
    outline: none;
    border-color: #128C7E;
}

button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #128C7E;
}

/* Layout da tela do chat */
#chat-section {
    display: none; /* A tela de chat começa oculta */
    flex-direction: column;
    height: 100vh;
    background-color: #cdd7d8;
    background-size: cover;
    padding: 10px;
}

/* Novo logo acima do input de nickname */
#chat-logo {
    width: 180px;  /* Ajuste o tamanho da imagem conforme necessário */
    height: 180px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-bottom: 2px;  /* Espaço entre o logo e o campo de texto */
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(245, 246, 228,0.9); /* Fundo semitransparente para melhorar a visibilidade do texto */
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.message {
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
}

.received {
    background-color: #dcf8c6;
    align-self: flex-start;
}

.sent {
    background-color: #25D366;
    color: white;
    align-self: flex-end;
}

#input-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#message-input:focus {
    outline: none;
    border-color: #128C7E;
}

#send-button {
    background-color: #25D366;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #128C7E;
}

#send-button:focus {
    outline: none;
}

#send-button svg {
    width: 20px;
    height: 20px;
}

#openEmoji-Picker {
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1000;
}

#openEmoji-Picker img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#openEmoji-Picker img:hover {
    transform: scale(1.2);
}